@tailwind base;
@tailwind components;
@tailwind utilities;
*{

}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
/* html, body {
  @apply min-h-screen bg-gradient-to-t from-slate-200 to-slate-500;
} */
 .swiper-pagination-bullet {
  background: black; /* default is gray */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: red; /* active slide color */
}